:root {
    --nav-options-color:#AEC3B0;
    --nav-options-hover-color: #01161E;
    --nav-options-active-color: white;
    /* --nav-background-color: #124559;
    --chat-background-color:#124559; */
    --side-cols-color: #124559;
    --charts-background-color: #AEC3B0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color:#01161E;
  background-color: black;
  color: white;
  margin-bottom: 0px;
}

#utc-clock {
  margin-left: 35px;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  /* font-size */
}

.utc-p {
 display: inline-block;
 vertical-align: middle;
}

#pipe {
  font-size: 1.5em;
}

.colory {

}

#utc-word {
  font-size: 1.5em;
  margin-right: 5px;
}

.header-row {
  background-color: black;
}

.header-row .col-md-6{
  padding-left: 0px;
  padding-right: 0px;
}

.header-row .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
  transform: translate(0%, 25%);
}

#login-input {
  width: 55%;
  margin-right: 2%;
}

#login-container button{
  width: 35%;
  margin-right: 5%;
  background-color: #AEC3B0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom: 20px;
}


#login-container p{
  color:white;
}

#login-container button:active{
  background-color: #124559;
  color: white;
}

#login-container button:hover{
  color: #124559;
}

.invisible{
  display: none;
}

.nav, .chat {
  background-color: var(--side-cols-color);
}

.nav ul{
  list-style-type: none;
}

.nav-item {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--nav-options-color);
  cursor: default;
}

.nav-item:hover {
  color: var(--nav-options-hover-color);
}

.nav-item:active {
  color: var(--nav-options-active-color);
}

.col-md-7 {
  background-color: var(--charts-background-color);
  text-align: center;
  overflow: auto;
}

#historyDiv {
  margin-top: 25px;
}
.main-row {
  height: 600px;
}

.chat-div {
  height: 88%;
  background-color: white;
  margin-bottom: 3%;
  overflow-y: auto;
  margin-right: 25px;
}

.new-message-div {
  height: 25%;
}

#message-button{
    position: absolute;
    margin-left: 8px;
    /*margin-bottom: 200px;*/
}

#chat-box{
  list-style-type: none;
}

#google-image {
  height:50%;
}

#google-button {
  margin-left: 10px;
}

#googleCenter {
  margin-top: 100px;
  height: 400px;
}
.msg{
  display: block;
  font-weight: bold;
}

.date{
  display: block;
}

.user{
  color: #cc33ff;
}

textarea {
  resize: none;
}



/****************Ticker Bar*****************/


