h2 {
  font-family: 'Open Sans';
  font-size: 50px;
  font-weight: bold;
  color:#01161E;
  background-color: black;
  color: white;
  margin-bottom: 0px;
}

.header-row {
  background-color: black;
}

.header-row .col-md-6{
  padding-left: 0px;
  padding-right: 0px;
}

.header-row .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
  transform: translate(0%, 25%);
}

#login-input {
  width: 55%;
  margin-right: 2%;
}

#login-button{
  width: 35%;
  margin-right: 5%;
  background-color: #AEC3B0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#login-button:focus {

}

#login-button:hover {
  color: #124559;
}

#login-button:active {
  color: white;
  background-color: #124559;
}

.nav, .chat {
  background-color: #124559;
}

.nav ul{
  list-style-type: none;
}

.nav-item {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color:#AEC3B0;
  cursor: default;
}

.nav-item:hover {
  color:#01161E;
}

.col-md-8 {
  background-color: #AEC3B0;
  text-align: center;
  overflow: auto;
}



.main-row {
  height: 600px;
}
